*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.parrent-container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    row-gap: 30px;
    justify-content: space-evenly;
    padding: 50px 80px;
}
#chapter1{
    width: 100%;
    padding: 5px 0px;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(36, 36, 226);
}
#chapter1:hover {
   width: 70%;
    background-color: aquamarine;
    font-size: large;
}

#chapter1:visited{
    color: red;
}
@media only screen and (max-width:887px) {
    .parrent-container{
padding: 50px;
    }
}
@media only screen and (max-width:587px) {
    .parrent-container{
        grid-template-columns: 30% 30% ;
        row-gap: 40px;
    }
}
@media only screen and (max-width:363px) {
    .parrent-container{
        grid-template-columns: 40% 40% ;
        padding: 50px 20px;
    }
}
@media only screen and (max-width:363px) {
    .parrent-container{
        grid-template-columns: 50% ;
    }
}